@import "../node_modules/bootstrap/scss/bootstrap.scss";

.pink {
    color: aqua;
}
.input {
border-radius: 2px;
margin-left: 90px;
}
.checkbox {
    display: block;
}
.m-t-20 {
    margin-top: 20px;
}